<!-- Content Header (Page header) -->
<div class="app-content-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <h3 class="mb-0">Blank Page</h3>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-end">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Blank Page</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<!-- Main content -->
<div class="app-content">
  <!-- Default box -->
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Title</h3>

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fa fa-minus"></i>
          </button>
          <button type="button" class="btn btn-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fa fa-times"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <app-uploader [config]="imageConfig" [(files)]="filesImage" (filesChange)="uploadImage($event)" [title]="'选择上传图片'"></app-uploader>
        <app-uploader [config]="pdfConfig" [(files)]="filesPdf" (filesChange)="uploadPdf($event)" [title]="'选择上传pdf文件'"></app-uploader>

      </div>
      <!-- /.card-body -->
      <div class="card-footer">Footer</div>
      <!-- /.card-footer-->
    </div>
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Toast</h3>
      </div>
      <div class="card-body">
        <div class="btn-group">
          <button class="btn btn-light" (click)="showTop()" ngbTooltip="top default">top toast</button>
          <button class="btn btn-success" (click)="showMeddle()" ngbTooltip="meddle success">meddle toast</button>
          <button class="btn btn-danger" (click)="showBottom()" ngbTooltip="bottom warn">bottom toast</button>
          <button class="btn btn-light" (click)="showTopStart()" ngbTooltip="top-start 5s">top-start toast</button>
          <button class="btn btn-light" (click)="showTopEnd()" ngbTooltip="top-end 10s">top-end toast</button>
          <button class="btn btn-light" (click)="showBottomStart()" ngbTooltip="bottom-start">bottom-start toast</button>
          <button class="btn btn-light" (click)="showBottomEnd()" ngbTooltip="bottom-end">bottom-end toast</button>
          <button class="btn btn-light" (click)="showAlert()" ngbTooltip="SweetAlert2">SweetAlert2</button>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <!-- /.card -->
</div>
<!-- /.content -->
