<div class="sidebar-brand">
  <a routerLink="/profile" class="brand-link" ngbTooltip="点击完善个人信息">
    <img [src]=" user ? user.headimgurl : ''" alt="Logo" class="brand-image rounded-5 shadow">
    <span class="brand-text fw-light">{{ user ? user.nickname : '' }}</span>
  </a>
</div>

<!-- Sidebar -->
<div class="sidebar-wrapper">
  <nav class="mt-2">
    <!-- Sidebar Menu -->
    <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
      <app-menu-item *ngFor="let item of menu" [menuItem]="item"></app-menu-item>
    </ul>
  </nav>
</div>
