<!-- Main content -->
<div class="app-content pt-2">
  <div class="row g-4">
    <!-- Start column -->
    <div class="col">
      <!-- general form elements -->
      <div class="card card-primary card-outline">
        <div class="card-header">
          <div class="card-title">完善人个信息</div>
        </div>
        <div class="card-body">
          <div class="was-validated">
            <div class="mb-3">
              <label class="form-label">姓名</label>
              <input class="form-control" type="text" [(ngModel)]="user.name" placeholder="请填写您的名字" required #name="ngModel">
              <div class="invalid-feedback">请填写姓名</div>
            </div>
            <div class="mb-3">
              <label class="form-label">手机号</label>
              <input class="form-control" type="tel" [(ngModel)]="user.tel" placeholder="请填写手机号" required
                     pattern="^(13[0-9]|14[579]|15[0-35-9]|16[6]|17[0-9]|18[0-9]|19[12589])\d{8}$" #tel="ngModel">
              <div class="invalid-feedback">请填写手机号</div>
            </div>
            <div class="mb-3">
              <label class="form-label">单位</label>
              <input class="form-control" type="text" [(ngModel)]="user.remark" placeholder="请填写所在单位，可留空">
            </div>
            <div class="mb-3">
              <label class="form-label">通信地址</label>
              <input class="form-control" type="text" [(ngModel)]="user.address" placeholder="请填写通信地址">
            </div>
          </div>
        </div>
        <div class="card-footer text-center">
          <button type="submit" class="btn btn-primary" (click)="updateUser()">提交</button>
        </div>
      </div>
      <!-- /.card -->
    </div>
  </div>
  <!-- /.row -->
</div>
