.uploader__file {
  width: 96px;
  height: 96px;
  background: no-repeat center center;
  background-size: cover;
}

.uploader__file_status {
  position: relative;
}

.uploader__file_status::before {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.uploader__input-box {
  width: 96px;
  height: 96px;
}

@media (max-width: 768px) {
  .uploader__input-box, .uploader__file {
    width: 48px;
    height: 48px;
  }
}

.uploader__input-box::before,
.uploader__input-box::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--bs-secondary);
}

.uploader__input-box::before {
  width: 2px;
  height: 33.33%;
}

.uploader__input-box::after {
  width: 33.33%;
  height: 2px;
}
