<div class="pb-3">
  <div class="d-flex justify-content-between pb-2">
    {{title}}
    <div class="text-secondary">{{ uploader.uploadedCount }}/{{ uploader.queue.length }}</div>
  </div>
  <div class="clearfix">
    <ul class="mb-0 ps-0" style="list-style: none">
      <li class="uploader__file float-start mb-2 me-2" *ngFor="let item of uploader.queue"
          style="background-image:url({{item.thumb}})"
          (click)="onGallery(item)" [ngClass]="{ 'uploader__file_status': item.isError||item.isUploading }"
          [style.background-size]="item.fileMimeClass!=='image'?'70% 70%':''"
          [style.background-color]="item.fileMimeClass!=='image'?'#ededed':''">
        <div class="position-absolute top-50 start-50 translate-middle text-white" *ngIf="item.isUploading">{{ item.progress }}%</div>
        <div class="position-absolute top-50 start-50 translate-middle text-danger" *ngIf="item.isError">
          <i class="fa-solid fa-circle-exclamation fa-xl"></i></div>
      </li>
    </ul>
    <div class="uploader__input-box mb-2 me-2 float-start bg-light position-relative" *ngIf="uploader.queue.length<uploader.options.limit">
      <input *ngIf="!isWxBrowserSelectImage()" class="position-absolute top-0 start-0 end-0 bottom-0 opacity-0 z-1" type="file"
             accept="{{acceptType}}"
             [multiple]="uploader.options.limit!=1"
             (change)="change($event)">
      <button *ngIf="isWxBrowserSelectImage()" class="position-absolute top-0 start-0 end-0 bottom-0 opacity-0 z-1"
              (click)="selectImage()"></button>
    </div>
  </div>
  <div *ngIf="viewFile" [style.display]="imgShow ? 'block' : 'none'" class="position-fixed bottom-0 top-0 start-0 end-0"
       [class.bg-black]="['image','video','audio'].includes(viewFile.fileMimeClass)"
       [class.bg-white]="!['image','video','audio'].includes(viewFile.fileMimeClass)"
       style="z-index: 1200" (click)="hideGallery($event)">
    <h1 class="position-absolute bg-body-secondary p-1 start-0 end-0 top-0 lh-lg input-group" style="z-index: 1201">
      <input #i class="form-control" (blur)="onUpdate(viewFile.id,i.value)" (keyup.enter)="onUpdate(viewFile.id,i.value)" [value]="viewFile.name"
             ngbPopover="修改名称">
      <button type="button" class="btn-close btn btn-outline-secondary" style="width: 2rem; height: 2rem;"></button>
    </h1>
    <video #media *ngIf="['video','audio'].includes(viewFile.fileMimeClass)" src="{{viewFile.uploadedFile}}" controls
           class="position-fixed top-50 start-50 translate-middle" style="max-width: 100%; max-height: calc(100% - 6rem)"
           [style.height]="viewFile.fileMimeClass=='audio'?'50px':''"></video>
    <img *ngIf="!['video','audio'].includes(viewFile.fileMimeClass)" src="{{viewFile.thumb}}"
         style="max-width: 100%; max-height: calc(100% - 6rem);"
         [style.height]="viewFile.fileMimeClass!=='image'?'50%':''"
         class="position-fixed top-50 start-50 translate-middle object-fit-contain">
    <div class="position-absolute bg-danger p-2 start-0 end-0 bottom-0 text-center lh-lg text-white" (click)="onDel(viewFile)" role="button">
      <i class="fa-solid fa-trash"></i>
    </div>
  </div>
</div>
<div class="mb-1" *ngIf="!uploader.options.auto">
  <button class="btn btn-primary" (click)="uploader.uploadAll()" [disabled]="uploader.isUploading">上传</button>
</div>
