<a (click)="handleMainMenuAction()" class="nav-link" [ngClass]="{active: isMainActive || isOneOfChildrenActive}">
  <i class="nav-icon {{ menuItem.iconClasses }}"></i>
  <p>{{ menuItem.name }}
    <i *ngIf="isExpandable && menuItem.children.length > 0" class="nav-arrow fa-solid fa-angle-right" [@rotate]="isMenuExtended"></i>
  </p>
</a>
<ul class="nav nav-treeview" [@openClose]="isMenuExtended">
  <li class="nav-item" *ngFor="let item of menuItem.children">
    <a (click)="menuAction(item)" [routerLinkActive]="'active'" class="nav-link">
      <i class="nav-icon {{ item.iconClasses }}"></i>
      <p>{{ item.name }}</p>
    </a>
  </li>
</ul>
