<!-- To the end -->
<div class="float-end d-none d-sm-inline">
  <b>Version</b> {{ appVersion }}
  <button type="button" style="width: 31px;" class="btn btn-sm" [class]="{'btn-dark':!darkMode,'btn-light':darkMode}"
          (click)="handleDarkModeChange()">
    <i [class]="{'fa-moon':!darkMode,'fa-sun':darkMode,'fa-solid':!darkMode,'fa-regular':darkMode}"></i>
  </button>
</div>
<!-- Default to the start -->
<strong>Copyright &copy; {{ currentYear }} <a href="https://wanphp.com">wanphp.com</a>.</strong> All rights reserved.
