/* You can add global styles to this file, and also import other style files */
@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';
@import '~admin-lte/dist/css/adminlte.min.css';

body {
  width: 100vw;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.content {
  padding: 0 0.5rem;
}

.nav .nav-item:not(.menu-open) > .ng-trigger-openClose,
.nav .nav-item > .ng-trigger-openClose.ng-animating {
  overflow: hidden;
  display: block;
}

.nav-sidebar .menu-is-opening > .nav-link i.right,
.nav-sidebar .menu-is-opening > .nav-link svg.right,
.nav-sidebar .menu-open > .nav-link i.right,
.nav-sidebar .menu-open > .nav-link svg.right {
  transform: none;
}
